@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Poppins:wght@300;400;500&family=Raleway:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------
 header style
 ------------------ */
.container{
    max-width: 60rem;
    margin: 0 auto;
}
.header-section{
    display: flex;
    height: 3.125rem;
    justify-content: space-between;
    padding: 2.5rem 0;
    
}
.menu-bar ul li{
    display: inline;
    padding-right: 20px;
    list-style: none;
 
}
.menu-bar ul a{
    text-decoration: none;
    color: black;
    
}
.menu-bar ul li:hover{
    color:#E02C6D;

    
    
   
}
/*---------------- 
section 2 started
------------------*/

.section-2{
    max-width: 60rem;
    margin: 1.5rem auto 0 auto;
    display: block;
}

.influencer-section{
    display: flex;
    justify-content: space-between;
}
.left-section{
    margin: auto 0;
    font-family: 'Raleway', sans-serif;   
}
.left-section-info{
    margin: auto 0;
}

.left-section-info p{
    line-height: 1.5;
}

.preebook-button{
    background-color: #E02C6D;
    border-radius: 1.25rem;
    padding: 0.625rem 1.875rem;
    color: white;
    border:  #E02C6D;
    margin-top: 0.813rem;
}

.section2-camera{
    position: relative;
    top: 0;
    left: 0;
}
.circle-image{
    height: 20rem;
    width: 20rem;
    position: relative;
    top: 0;
    left: 0;
}
.main-camera{
    height:19rem;
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
}
.section2-camera:hover .camera-photo{
    transform: scale(1.3);
    transition: transform 1s ease;
}
.camera-photo{
    overflow: hidden;
}
/*----------------- 
section2 end
--------------- */

/*-------------------
 section3 started
 ------------------ */
.section3{
    max-width: 60rem;
    margin: 6rem auto;
}
.section3 hr{
    margin:1.25rem;
    background-color: gray;
}
.company-logo{
    display: flex;
    justify-content: space-between;
}

/*------------------ 
section3 ended
------------ */

/*----------------
 section4 started
 --------------- */
.section4{
    max-width: 60rem;
    margin: 0px auto;
    position: relative;
}
.section4 h1{
    text-align: center;
    margin-bottom: 4rem;
    font-family: 'Raleway', sans-serif;
}
.ratting-info{
    display: flex;
    align-items: center;
}
.fa-star, .fa-star-half-alt{
    color: orange;
    font-size: 0.4rem;
    
}
.ratting-info p{
    padding-left: 0.5rem;
}
.collection-photo{
    padding: 0.625rem;
   
    box-shadow: 0 0.188rem 0.813rem gray;
    border-radius: 0.938rem;
}
.collection-photos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5.5rem;
    margin-bottom: 0.938rem;
}
.see-more-button{
    text-decoration: none;
    color: #E02C6D;
    position: absolute;
    right: 0.313rem;
   
}

/*------------
 section-5 started
 ------------------ */

.section5{
    max-width: 60rem;
    margin:8.5rem auto 3.125rem auto;

}
.feature-div{
    display: flex;
}
.right-feature-div{
    margin: auto 0 auto 6rem;
}
.right-feature-div button{
    background-color: #E02C6D;
    padding: 0.625rem 0.938rem;
    border: #E02C6D;
    color: white;
    border-radius: 0.188rem;
    margin-top: 0.938rem;
}
.right-feature-div p{
    line-height: 1.5;
}

.sign-up{
    height: 9rem;
    box-shadow:0 3px 10px grey;
    display: flex;
    width: 60rem;
    margin: 5rem  auto;
    justify-content: space-around;
    border-radius: 10px;
}

.sign-up-left, .sign-up-right{
    margin: auto 0;
}

input[type="email"] {
    padding: 5px 5px;
    border-radius: 9px;
}

.signup-form button{
   
    background-color: #E02C6D;
    padding: 6px 6px;
    border: #E02C6D;
    color: white;
    border-radius: 0.188rem;
}

/*-------------------
 section6 started
 -------------------- */
footer{
    background-color: rgb(19, 19, 34);
    height: 9rem;
    text-align: center;
    color: white;
    
font-family: 'Raleway', sans-serif;
}
.section6{
    padding: 1rem 0;
    
}
.section-icon i{
    color: white;
    margin-top: 0.5rem;
    
}

/* responsive start */
/* big monitor */

@media only screen and (min-width: 1400px){
    .section4{
        width: 95%;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 95%;
    }
    .section-2{
        width: 95%;
    }
    .left-section-info h1{
        font-size: 30px;
        margin-bottom: 1rem;
    }
    .left-section-info p{
        font-size: 18px;
        padding-right: 2rem;
    }
    .section2-camera .circle-image{
        width: 93%;
        height: 70%;
    }
    .section2-camera .main-camera{
        width: 94%;
         height: 87%;
    }

/* section3 started */
    .section3{
        width: 95%;
        margin-bottom: 4rem;
    }

/* .section4 started */
    .section4{
        width: 95%;
        
    }
    .collection-photos{
        grid-gap: 3rem;
    }
    .collection-photos img{
        width: 100%;
    }

 /* section5 started */
    .section5{
        width:95%;
    }

    /* sign-up-section */
    .sign-up{
        width: 90%;
    }



/* footer started */
    .section6 h1{
        font-size: 27px;
        margin-top: 1rem;
    }
}




@media only screen and (max-width: 996px){
    .container, .section-2, .section3{
        width: 95%;
    }
    /* section2 started */
    .left-section-info h1{
        font-size: 30px;
        margin-bottom: 1rem;
    }
    .left-section-info p{
        font-size: 18px;
    }
    .section2-camera .circle-image{
        width: 93%;
        height: 70%;
    }
    .section2-camera .main-camera{
        width: 94%;
         height: 87%;
    }
/* section3 started */
    .section3{
        margin:3rem;
    }

/* section4 started */
    
    .section4{
        width: 95%;
    }
    .collection-photos{
        grid-template-columns: repeat(2,1fr);
        grid-gap:3rem;
    }
    .collection-photos img{
        width: 100%;
    }
     /* sign-up-section */
     .sign-up{
        width: 90%;
    }

/* section-5 started */
    .section5{
        width: 95%;
        margin: 5.5rem auto 3.125rem auto;
    }   

}


@media only screen and (max-width: 768px) {
    /* header started */
    header{
        width: 100%;
    }

    .container{
        max-width: 98%;
    }
        /* .section-2 started */
        .section-2{
            width: 96%;
        }
    .left-section-info h1{
        font-size: 25px;
    }
    .left-section-info p{
        font-size: 15px;
    }
    .section2-camera .circle-image{
        width: 80%;
        height: 70%;
    }
    .section2-camera .main-camera{
        width: 80%;
         height: 87%;
    }

/* section3 started */
    .section3{
        max-width: 95%;
        margin: 3rem auto;
    }

    .company-logo img{
        width: 9%;
    }



    /* section4 started */
    .section4{
        width: 95%;
    }
    .section4 h1{
        margin: 3rem;
        
    }
    .collection-photos{
        grid-gap:3rem ;
        grid-template-columns: repeat(2,1fr);
    }

    /* section5 started */
    .section5{
        width: 97%;
    }
    .right-feature-div{
        margin-left: 1rem;
    }

     /* sign-up-section */
  .sign-up-left h2{
      font-size: 22px;
  }



    /* footer started */
    .section6 h1{
        font-size: 25px;
        margin-top: 1rem;
    }
    .section6 small{
        font-size: 15px;
    }
}

/* -----------
mobile device media quairy 
--------------  */
@media only screen and (max-width: 576px) {
    .container{
        width: 97%;
    }
    .header-section{
        flex-direction: column;
    }
    .header-section .logo h3{
        text-align: center;
    }
    .header-section .menu-bar{
        text-align: center;
        margin-top: .5rem;
    }

    /* section2 media quary */
    .influencer-section{
        flex-direction: column-reverse;
    }
    .section2-camera .circle-image{
        width: 44%;
    height: 60%;
    align-items: center;
    margin: 0 auto;
    display: block;
  
    }
    .section2-camera .main-camera{
        width: 47%;
        height: 87%;
        align-items: center;
        margin: 0 9rem;
        display: block;
    }
    .left-section{
        width: 98%;
        text-align: center;
        margin-top: 1.5rem;
    }
    .left-section-info h1{
        font-size: 25px;
    }

    /* section3 started */
    .section3{
        width: 95%;
        margin: 6rem auto;
        
    }
    .company-logo img{
        width: 11%;
       
    }

    /* section4 started */
    .section4{
        margin-top: -4rem ;
        width: 100%;
    }
    .collection-photos{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        grid-gap: 44px;
        align-items: center;
       
    }
    .section4 h1{
        margin-bottom: 2rem;
    }
    .section4 h3 a{
       right: 137px;
    }

    /* sign-up-section */
  .sign-up-left h2{
    font-size: 15px;
    padding-left: 10px;
}
.signup-form button{
    margin-top:10px ;
}
    /* section5 started */
    .section5{
        margin: 2rem 2rem;
        width: 99%;
    }
    .feature-div{
        flex-direction: column-reverse;
    }
    .left-side-feature{
        margin:2rem auto;
    }
    

    .right-feature-div {
        margin: 2rem 2rem;
}

}

